h1 {
     color:red;

}
#heading-2 {
     color:blue;
}
.heading{
     color:bisque;
}
.para{
     border:2px;
     color:blueviolet;
     border-style: solid;
     padding: 10px;
     text-align: center;
}